@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/Gilroy-Bold.eot");
  src: url("/assets/font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("/assets/font/Gilroy-Bold.woff2") format("woff2"), url("/assets/font/Gilroy-Bold.woff") format("woff"), url("/assets/font/Gilroy-Bold.ttf") format("truetype"), url("/assets/font/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/Gilroy-ExtraBold.eot");
  src: url("/assets/font/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/assets/font/Gilroy-ExtraBold.woff2") format("woff2"), url("/assets/font/Gilroy-ExtraBold.woff") format("woff"), url("/assets/font/Gilroy-ExtraBold.ttf") format("truetype"), url("/assets/font/Gilroy-ExtraBold.svg#Gilroy-ExtraBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/Gilroy-Medium.eot");
  src: url("/assets/font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("/assets/font/Gilroy-Medium.woff2") format("woff2"), url("/assets/font/Gilroy-Medium.woff") format("woff"), url("/assets/font/Gilroy-Medium.ttf") format("truetype"), url("/assets/font/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-RegularItalic";
  src: url("/assets/font/Gilroy-RegularItalic.eot");
  src: url("/assets/font/Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"), url("/assets/font/Gilroy-RegularItalic.woff2") format("woff2"), url("/assets/font/Gilroy-RegularItalic.woff") format("woff"), url("/assets/font/Gilroy-RegularItalic.ttf") format("truetype"), url("/assets/font/Gilroy-RegularItalic.svg#Gilroy-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/Gilroy-SemiBoldItalic.eot");
  src: url("/assets/font/Gilroy-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("/assets/font/Gilroy-SemiBoldItalic.woff2") format("woff2"), url("/assets/font/Gilroy-SemiBoldItalic.woff") format("woff"), url("/assets/font/Gilroy-SemiBoldItalic.ttf") format("truetype"), url("/assets/font/Gilroy-SemiBoldItalic.svg#Gilroy-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/Gilroy-Regular.eot");
  src: url("/assets/font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("/assets/font/Gilroy-Regular.woff2") format("woff2"), url("/assets/font/Gilroy-Regular.woff") format("woff"), url("/assets/font/Gilroy-Regular.ttf") format("truetype"), url("/assets/font/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy";
  src: url("/assets/font/Gilroy-SemiBold.eot");
  src: url("/assets/font/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("/assets/font/Gilroy-SemiBold.woff2") format("woff2"), url("/assets/font/Gilroy-SemiBold.woff") format("woff"), url("/assets/font/Gilroy-SemiBold.ttf") format("truetype"), url("/assets/font/Gilroy-SemiBold.svg#Gilroy-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  --colorPrimary: #49a8b7;
  --colorSecondary: #b89961;
  --colorAccent: #0044a5;
  --colorHeading: #000f25;
  --colorPara: #71839d;
  --colorBorder: #d8e9ff;
  --colorLightBg: #f6faff;
  --colorErrorText: #d82f2f;
  --fontSerif: "Lora", serif;
  --fontPrimary: "Gilroy",sans-serif;
  --fontText: "Poppins", sans-serif;
  --customBorderRadius: 5px;
}
html {
  scroll-behavior: smooth;
}
body {
  padding-left: 0;
  padding-right: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  font-size: 16px;
  font-family: var(--fontText);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
body.no-scroll {
  overflow-y: hidden;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgb(0, 0, 0, 0.3);
  z-index: 2000;
}
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background: var(--colorPrimary);
  border-radius: 16px;
  -webkit-box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
  box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
}
body.bg-overlay:before {
  content: "";
  display: block;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

a {
  font-size: 1rem;
  color: var(--colorPrimary);
  text-decoration: none;
}
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
::-moz-selection {
  background: var(--colorSecondary);
  color: #fff;
}
::selection {
  background: var(--colorSecondary);
  color: #fff;
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
label,
span {
  font-family: var(--fontPrimary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.625rem;
  line-height: 1.15em;
}

h2 {
  font-size: 2.25rem;
  line-height: 1.2em;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.25em;
}

h4 {
  font-size: 1.5625rem;
  line-height: 1.3em;
}

h5 {
  font-size: 1.35rem;
  line-height: 1.4em;
}

h6 {
  font-size: 1.1875rem;
  line-height: 1.45em;
}

p {
  line-height: 1.5em;
  font-weight: 400;
  font-size: 1rem;
  font-family: var(--fontText);
}
@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
    line-height: 1.05em;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.2em;
  }
  h3 {
    font-size: 1.875rem;
    line-height: 1.25em;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 3.25rem;
    line-height: 1.1em;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 1.2em;
  }
  h3 {
    font-size: 1.875rem;
    line-height: 1.3em;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.35em;
  }
}
/* Buttons */
button {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  text-align: center;
}
.button {
  padding: 0.75rem 1.875rem;
  color: var(--colorHeading);
  background: var(--colorLightBg);
  border: 2px solid var(--colorLightBg);
  border-radius: var(--customBorderRadius);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.9375rem;
  line-height: 1em;
}
.button__primary {
  background: var(--colorPrimary);
  border: 2px solid var(--colorPrimary);
  color: #fff;
}
.button__primary:hover {
  background: var(--colorSecondary);
  border: 2px solid var(--colorSecondary);
  color: #fff;
}
.button__secondary {
  background: var(--colorSecondary);
  border: 2px solid var(--colorSecondary);
  color: #fff;
}
.button__secondary:hover {
  color: #fff;
}
.button__white {
  background: #fff;
  border: 2px solid #fff;
  color: var(--colorHeading);
}
.button__white:hover {
  background: var(--colorHeading);
  border: 2px solid var(--colorHeading);
  color: #fff;
}
.button__primary--outlined {
  background: transparent;
  border: 2px solid var(--colorPrimary);
  color: var(--colorPrimary);
}
.button__primary--outlined:hover {
  background: var(--colorPrimary);
  color: #fff;
}
.button--sm {
  padding: 0.875rem 2.25rem;
}
@media (min-width: 768px) {
  .button {
    padding: 1rem 2.5rem;
  }
}
/* Utility custom classes */
.text--primary {
  color: var(--colorPrimary);
}
.text--secondary {
  color: var(--colorSecondary);
}
.text--heading {
  color: var(--colorHeading);
}
.text--accent {
  color: var(--colorAccent);
}
.text--para {
  color: var(--colorPara);
}
.text--light {
  color: #fff;
}
.text--light-muted {
  color: rgba(255, 255, 255, 0.75);
}
.text--error {
  color: var(--colorErrorText);
}
.text--lg {
  font-size: 1.25rem;
}
.text--sm {
  font-size: 0.9375rem;
}
.text--xs {
  font-size: 0.875rem;
}
.text--xxs {
  font-size: 0.75rem;
}
.font--serif {
  font-family: var(--fontSerif);
}
.font--primary {
  font-family: var(--fontPrimary);
}
.font--text {
  font-family: var(--fontText);
}
.font .bg--dark {
  background: var(--colorHeading);
  color: #fff;
}
.bg--primary {
  background: var(--colorPrimary);
  color: #fff;
}
.bg--secondary {
  background: var(--colorSecondary);
}
.bg--light {
  background: var(--colorLightBg);
}
.bg--white {
  background: #fff;
}
.bg--error {
  background: var(--colorErrorText);
}

.border-custom-1 {
  border: 1px solid var(--colorBorder);
}
.border-radius--custom {
  border-radius: var(--customBorderRadius);
}
.outline--none {
  outline: none !important;
}
/* Section common styles */
section {
  position: relative;
}
.section__subheading {
  font-size: 1.0625rem;
  font-weight: 600;
  text-transform: uppercase;
}
.section__heading {
  font-weight: 600;
}
.section--padding {
  padding: 4rem 0;
}
.section--padding-bottom-only {
  padding: 0 0 4rem 0;
}
.section--padding-top-only {
  padding: 4rem 0 0 0;
}
/* .swiper-pagination-clickable .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: var(--colorPrimary) !important;
  border-radius: 50% !important;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.swiper-pagination-clickable .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px !important;
  border-radius: 30px !important;
}
.section__overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
} */
.section__overlay.section__overlay--color {
  background: rgba(0, 0, 0, 0, 0.5);
}
.page-title-section {
  height: 220px;
  background: var(--colorLightBg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}
.page-title-section h3 {
  color: #fff;
}
.page-title-section .breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.75);
}
.page-title-section::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
}
.page-title-section .container {
  z-index: 5;
}
.page-title-section .breadcrumb {
  background: transparent;
}
.page-title-section .breadcrumb .breadcrumb-item a {
  color: #fff;
}
.page-title-section .breadcrumb .breadcrumb-item {
  font-weight: 600;
}
.page-title-section .breadcrumb .breadcrumb-item.active {
  color: var(--colorSecondary);
}
body.about-us .page-title-section {
  background-image: url(/assets/images/pagetitles/about-pagetitle.jpg);
}
body.shop .page-title-section {
  background-image: url(/assets/images/pagetitles/shop-pagetitle.jpg);
}
body.product-single .page-title-section {
  background-image: url(/assets/images/pagetitles/product-single-pagetitle.jpg);
}
body.faqs .page-title-section {
  background-image: url(/assets/images/pagetitles/faqs-pagetitle.jpg);
}
body.contact-us .page-title-section {
  background-image: url(/assets/images/pagetitles/contact-us-pagetitle.jpg);
}
body.cart .page-title-section {
  background-image: url(/assets/images/pagetitles/cart-pagetitle.jpg);
}
body.register .page-title-section {
  background-image: url(/assets/images/pagetitles/register-pagetitle.jpg);
}
body.login .page-title-section {
  background-image: url(/assets/images/pagetitles/login-pagetitle.jpg);
}
body.checkout .page-title-section {
  background-image: url(/assets/images/pagetitles/checkout-pagetitle.jpg);
}
body.wishlist .page-title-section {
  background-image: url(/assets/images/pagetitles/wishlist-pagetitle.jpg);
}
@media (min-width: 992px) {
  .section--padding {
    padding: 5rem 0;
  }
  .section--padding-bottom-only {
    padding: 0 0 5rem 0;
  }
  .section--padding-top-only {
    padding: 5rem 0 0 0;
  }
}
/* Form */
.form .form__field {
  margin: 0 0 1rem 0;
}
.form .form__field input,
.form .form__field select,
.form .form__field textarea {
  border: 1px solid var(--colorBorder);
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  color: var(--colorPrimary);
}
.form .form__field input:focus,
.form .form__field select:focus,
.form .form__field textarea:focus {
  outline: none !important;
  border: 1px solid var(--colorSecondary);
}
.form .form__field textarea {
  height: 120px;
}
.form .form__field input::placeholder,
.form .form__field select::placeholder,
.form .form__field textarea::placeholder {
  color: var(--colorPara);
}
.select-dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.select-dropdown::last-child {
  margin-right: 0px;
}
.select-dropdown__button {
  padding: 10px 35px 10px 15px;
  background-color: #fff;
  color: #616161;
  border: 1px solid #cecece;
  border-radius: 3px;
  cursor: pointer;
  width: 210px;
  text-align: left;
}
.select-dropdown__button::focus {
  outline: none;
}
.select-dropdown__button .zmdi-chevron-down {
  position: absolute;
  right: 10px;
  top: 12px;
}
.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #cecece;
  border-top: 0px solid transparent;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  transform: scale(1, 0);
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  z-index: 2;
}
.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
}
.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: var(--colorPara);
  text-align: left;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.select-dropdown__list-item:hover {
  background-color: var(--colorSecondary);
  color: #fff;
  -webkit-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
label.error {
  color: var(--colorErrorText);
  margin: 0.25rem 0 0 0;
  font-size: 0.9375rem;
}
input:checked {
  background-color: var(--colorSecondary) !important;
  border-color: var(--colorSecondary) !important;
}
/* Modal common styles */
.modal {
  padding-right: 0px !important;
}
.modal .modal-content {
  border: none !important;
}
.close {
  opacity: 1 !important;
}
/* Toast common styles */
.toast {
  border: 1px solid var(--colorBorder);
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  font-size: 1.0625rem;
}
.toast .toast-header {
  border-bottom: none;
}
.toast .toast-header .btn-close {
  width: 0.5rem;
  height: 0.5rem;
  margin-right: 0.15rem !important;
}

/* Header */
.site-header {
  position: sticky;
  top: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
.site-header.site-header--shrinked {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.site-header .site-header__button--nav-toggler {
  font-size: 1.75rem;
  color: var(--colorHeading);
  border-radius: 5px;
}
.site-header .site-header__button--my-account {
  background: #b9dbdf;
  color: #50a5b0;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
}
.site-header .site-header__button--my-account:hover {
  background: var(--colorSecondary);
  color: var(--colorHeading);
}
.site-header .site-header__mobile-nav ul li a {
  color: var(--colorHeading);
  font-family: var(--fontPrimary);
  font-weight: 500;
  padding: 0.5rem;
  display: inline-block;
}
.site-header .site-header__mobile-nav ul li a:hover,
.site-header .site-header__mobile-nav ul li a.active {
  color: var(--colorPrimary);
}
.site-header .site-header__logo {
  width: 120px;
  transition: width 0.3s ease-in-out;
}
.site-header.site-header--shrinked .site-header__logo {
  width: 80px;
}
.site-header .site-header__nav ul li a {
  color: var(--colorHeading);
  padding: 0.75rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0.25rem;
}
.site-header .site-header__nav ul li a:hover,
.site-header .site-header__nav ul li a.active {
  color: var(--colorPrimary);
}
.site-header .site-header__nav ul li a.site-header__button--my-account {
  padding: 0.5rem 0.6375rem;
  font-size: 1rem;
}
@media (min-width: 992px) {
  .site-header.site-header--shrinked .site-header__logo {
    width: 90px;
  }
}
/* Hero section */
.hero-section {
  background-color: transparent;
  background-image: linear-gradient(0deg, rgb(125, 91, 31) 26%, rgb(255, 255, 255) 100%);
  height: 90vh;
}
.hero-section .swiper .swiper-slide {
  height: 100vh;
  background: var(--colorLightBg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .swiper .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 26, 64, 0.41);
  z-index: 0;
}
.hero-section .swiper .swiper-slide .slide__content {
  z-index: 5;
}
.hero-section .swiper .swiper-slide .slide__content h2 {
  font-family: var(--fontSerif);
  font-size: 2.5rem;
}
.hero-section .swiper-button-next::after,
.hero-section .swiper-button-prev::after {
  font-size: 1.5rem;
  color: #fff;
}
.hero-section .swiper-button-prev,
.hero-section .swiper-button-next {
  padding: 0.75rem 1.35rem;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}
@media (min-width: 768px) {
  .hero-section .swiper .swiper-slide .slide__content h2 {
    font-size: 3.25rem;
  }
}
@media (min-width: 1200px) {
  .hero-section .swiper .swiper-slide .slide__content h2 {
    font-size: 4rem;
  }
}

/* Footer */
.site-footer {
  padding: 2.5rem 0;
  background-color: var(--colorHeading);
  background-image: linear-gradient(rgba(0, 15, 37, 0.85), rgba(0, 15, 37, 0.85)), url(/assets/images/footer-bg.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.site-footer .container {
  z-index: 10;
}
.site-footer .site-footer__social-icons li a {
  color: #fff;
  font-size: 1.25rem;
  width: 40px;
  height: 40px;
  margin: 0 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
}
.site-footer .site-footer__social-icons li a:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
  background: var(--colorPrimary);
  border-radius: 50%;
  z-index: 0;
}
.site-footer .site-footer__social-icons li a:hover:before {
  transform: scale(1);
}
.site-footer .site-footer__social-icons li a i {
  z-index: 5;
}
.site-footer .site-footer__nav ul li a {
  color: #fff;
  font-family: var(--fontPrimary);
  font-size: 1rem;
  padding: 0.25rem 0.25rem 0.75rem 0.25rem;
  margin: 0 0.5rem;
  position: relative;
}
.site-footer .site-footer__nav ul li a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--colorPrimary);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.site-footer .site-footer__nav ul li a:hover {
  color: var(--colorPrimary);
}
.site-footer .site-footer__nav ul li a:hover:after {
  transform: scaleX(1);
}
.site-footer .site-footer__copyright-text a {
  text-decoration: underline;
}
.site-footer .site-footer__copyright-text a:hover {
  color: var(--colorSecondary);
}
@media (min-width: 992px) {
  .site-footer .site-footer__nav ul li a {
    margin: 0 0.75rem;
  }
}

/* Services Field */
.services-field-section .services-field {
  padding: 2.25rem 1.25rem;
}
.services-field-section .services-field .services-field__icon img {
  width: 80px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .services-field-section .services-field {
    padding: 3.75rem 2rem;
  }
  .services-field-section .services-field h3 {
    font-size: 1.35rem;
  }
}
@media (min-width: 992px) {
  .services-field-section .services-field {
    padding: 3.75rem 2rem;
  }
  .services-field-section .services-field h3 {
    font-size: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .services-field-section .services-field h3 {
    font-size: 1.75rem;
  }
}

/* Featured Courses */
.featured-courses-section .featured-courses .featured-course {
  transition: all 0.3s ease-in-out;
}
.featured-courses-section .featured-courses .featured-course .featured-course__thumbnail-wrapper {
  width: 180px;
  height: 170px;
}
.featured-courses-section .featured-courses .featured-course .featured-course__thumbnail-wrapper .featured-course__thumbnail {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.featured-courses-section .featured-courses .featured-course .featured-course__thumbnail-wrapper .featured-course__thumbnail img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.featured-courses-section .featured-courses .featured-course .featured-course__price {
  font-weight: 700;
}
.featured-courses-section .featured-courses .featured-course .featured-course__title {
  font-weight: 700;
}
.featured-courses-section .featured-courses .featured-course .featured-course__meta-info li {
  margin-right: 1.5rem;
  font-weight: 500;
}
.featured-courses-section .featured-courses .featured-course:hover {
  box-shadow: rgb(0, 0, 0, 0.05) 0px 8px 50px;
}

/* About Grid Section */
.about-grid-section .content-block {
  height: auto;
  padding: 2.5rem 1.25rem;
}
.about-grid-section .bg-block {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}
.about-grid-section .bg-block.bg-block--half {
  height: 50%;
}
.about-grid-section .bg-block-1 {
  background-image: url(/assets/images/bg-block-1.jpg);
}
.about-grid-section .bg-block-2 {
  background-image: url(/assets/images/bg-block-2.jpg);
}
.about-grid-section .bg-block-3 {
  background-image: url(/assets/images/bg-block-3.jpg);
}
.about-grid-section .bg-block-4 {
  background-image: url(/assets/images/bg-block-4.jpg);
}
@media (min-width: 768px) {
  .about-grid-section .content-block {
    padding: 3rem 8rem;
  }
}
@media (min-width: 992px) {
  .about-grid-section .content-block {
    height: 360px;
    padding: 0 3rem;
  }
  .about-grid-section .bg-block {
    height: 100%;
  }
}

/* Testimonial Section */
.testimonial-section .testimonial__stat-record h1 {
  font-weight: 700;
}
.testimonial-section .testimonial__stat-record p {
  font-weight: 600;
}
.testimonial-section .testimonial {
  padding: 1.5rem;
  box-shadow: rgb(0, 0, 0, 0.05) 0px 8px 50px;
}
.testimonial-section .testimonial .testimonial__author-container .author__image {
  position: relative;
}
.testimonial-section .testimonial .testimonial__author-container .author__image img {
  border-radius: 50%;
  width: 70px;
}
.testimonial-section .testimonial .testimonial__author-container .author__image:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background: var(--colorPrimary);
  border-radius: 50%;
}
.testimonial-section .swiper-pagination-clickable .swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: var(--colorPrimary) !important;
  border-radius: 50% !important;
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
.testimonial-section .swiper-pagination-clickable .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px !important;
  border-radius: 30px !important;
}
@media (min-width: 992px) {
  .testimonial-section .testimonial {
    padding: 2rem;
  }
}

/* Video CTA Section */
.video-cta-section::before {
   content: '';
   display: block;
   position: absolute;
   top:0;
   left:0;
   width: 60%;
   height: 100%;
   background: var(--colorPrimary);
   z-index: 0;
}
.video-cta-section {
  z-index: 10;
}

